body{
    background-color: black;
    color: white;
    font-size: 30px;
  }
  header h1 {
    font-size: 70px;
    font-weight: 600;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-align: center;
  }

input[type="file"]::file-selector-button {
  border: 2px solid #6c5ce7;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  background-color: #5ae291;
  transition: 1s;
}

input[type="file"]::file-selector-button:hover {
  background-color: #b13910;
  border: 2px solid #bb7c17;
}

button{
    border-radius: 15px;
    height: 35px;
    margin-left: 200px;
    font-size: 25px;
}

button:hover{
    background-color: #6c5ce7;
}